<%= form_for(affilate) do |f| %>
  <% if affilate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(affilate.errors.count, "error") %> prohibited this affilate from being saved:</h2>

      <ul>
      <% affilate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag "Адрес"  %>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag "Краткое название" %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag "Номер телефона" %>
    <%= f.text_field :phone, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-lg btn-primary' %>
  </div>
<% end %>
