<div><%= l @start, :format => :time %></div>

<div><%= l @end, :format => :time %></div>

<div><%= @length %></div>

<div><%= @doctor_id %></div>

<div><%= l @current, :format => :time %></div>

<div><%= @str %></div>

