<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><h1>Меню</h1></div>
</div>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><%= link_to 'Главная', root_path, :class => "btn btn-primary btn-lg btn-block" %></div>
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><%= link_to 'Расписание', '/seances', :class => "btn btn-primary btn-lg btn-block" %></div>
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><%= link_to 'Пациенты', '/clients', :class => "btn btn-primary btn-lg btn-block" %></div>
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><%= link_to 'Врачи', '/doctors', :class => "btn btn-primary btn-lg btn-block" %></div>
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6"><%= link_to 'Выход', destroy_user_session_path, :method => :delete, :class => "btn btn-default btn-lg btn-block" %></div>
</div>

<%= current_user.role %>
<br>