<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Фамилия' %>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Имя' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Отчество' %>
    <%= f.text_field :patronymic, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-lg btn-primary' %>
  </div>
<% end %>
