<p id="notice"><%= notice %></p>

<h1>Пациенты</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Имя</th>
      <th>Дата рождения</th>
      <th>Московская прописка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= client.last_name + ' ' + client.name + ' ' + client.patronymic %></td>
        <td><%= (date = client.birthdate).nil? ? '—' : l(date, :format => :date) %></td>
        <td><%= client.is_moscow == 'on' ? 'Имеется' : 'Отсутствеет'  %></td>
        <td><%= link_to 'Подробнее', client_path(client) %></td>
        <td><%= link_to 'Изменить', edit_client_path(client) %></td>
        <td><%= link_to 'Удалить', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый пациент', new_client_path %>
