<p id="notice"><%= notice %></p>
<h1><%= @client.last_name + ' ' + @client.name + ' ' + @client.patronymic %></h1>

<h3>Персональные данные пациента</h3>
<table class="table table-hover">
	<tr>
		<td><b>Дата рождения:</b></td>
		<td><%= l @client.birthdate, :format => :date %></td>
	</tr>
	<tr>
		<td><b>Московская прописка:</b></td>
		<td><%= @client.is_moscow == 'on' ? 'Имеется' : 'Отсутствует'  %></td>
	</tr>
	<tr>
		<td><b>Номер телефона</b></td>
		<td><%= @client.phone %></td>
	</tr>
	<% if !@client.email.empty? %>
		<tr>
			<td><b>Email</b></td>
			<td><%= @client.email %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Изменить', edit_client_path(@client), :class => "btn-mini btn-edit" %><br />

<% if !@seances.empty? %>
	<h3>Записи пациента</h3>
	<table class="table table-hover">
		<thead>
			<th>Дата</th>
			<th>Время</th>
			<th>Врач</th>
		</thead>
		<tbody>
			<% @seances.each do |seance| %>
				<tr>
					<td><%= l seance.date, :format => :date %></td>
	        		<td><%= l seance.date, :format => :time %></td>
	        		<td><%= link_to seance.doctor.full_name, doctor_path(seance.doctor)%></td>
	        	</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= link_to 'Все пациенты', clients_path, :class => "btn-mini btn-more" %>
