<%= form_for(doctor) do |f| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Фамилия' %>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Имя' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Отчество' %>
    <%= f.text_field :patronymic, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Должность' %>
    <%= f.text_field :rank, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label 'Филиал' %>
    <%= f.select :affilate_id, Affilate.all.collect { |p| [p.name, p.id] }, {}, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-primary btn-lg' %>
  </div>
<% end %>
