<p id="notice"><%= notice %></p>

<h1>Врачи</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ФИО</th>
      <th>Информация</th>
      <% if current_user.affilate.name == 'Admin' %>
        <th>Филиал</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.full_name %></td>
        <td><%= (rank = doctor.rank).nil? ? '—' : rank %></td>
        <% if current_user.affilate.name == 'Admin' %>
          <td>
            <% if !(aff = doctor.affilate).nil? %>
              <%= link_to doctor.affilate.name, affilate_path(doctor.affilate) %>
            <% else %>—<% end %>
          </td>
        <% end %>
        <td><%= link_to 'Подробнее', doctor, :class => "btn-mini btn-more" %></td>
        <td><%= link_to 'Изменить', edit_doctor_path(doctor), :class => "btn-mini btn-edit" %></td>
        <td><%= link_to 'Удалить', doctor, method: :delete, data: { confirm: 'Подтвердите удаление' }, :class => "btn-mini btn-delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый врач', new_doctor_path, :class => 'btn btn-primary btn-lg' %>

<br><br>
