<p id="notice"><%= notice %></p>

<h1>Врачи</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.last_name + ' ' + doctor.name + ' ' + doctor.patronymic %></td>
        <td><%= link_to 'Подробнее', doctor %></td>
        <td><%= link_to 'Изменить', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Удалить', doctor, method: :delete, data: { confirm: 'Подтвердите удаление' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый врач', new_doctor_path, :class => 'btn btn-primary btn-lg' %>

<br><br>
