<p id="notice"><%= notice %></p>
<h1><%= @doctor.full_name %></h1>
<table class="table table-hover">
	<tr>
		<td><b>Информация</b></td>
		<td><%= (rank = @doctor.rank).nil? ? '—' : rank %></td>
	</tr>
	<tr>
		<td><b>Филиал</b></td>
		<td><%= (aff = @doctor.affilate).nil? ? '—' : aff.name %></td>
	</tr>
</table>

<%= link_to 'Изменить', edit_doctor_path(@doctor)%> | 
<%= link_to 'Все врачи', doctors_path%>