<p id="notice"><%= notice %></p>

<h3>Обращение №<%= @feedback.id %></h3>

<p>
  <strong>Тема:</strong><br>
  <%= @feedback.theme %>
</p>

<p>
  <strong>ФИО заявителя:</strong><br>
  <%= @feedback.full_name %>
</p>

<p>
  <strong>Email:</strong><br>
  <%= @feedback.email %>
</p>

<p>
  <strong>Текст обращения:</strong><br>
  <%= @feedback.text %>
</p>

<%= link_to 'Изменить', edit_feedback_path(@feedback) %> |
<%= link_to 'Все обращения', feedbacks_path %>
